*{
    margin: 0;
    padding: 0;
}

body    {
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(124, 111, 182);
    color: #f6f6f6;
}

.titulo-destaque  {
    color: rgba(104, 245, 255, 0.867);
}